<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<script type="text/javascript" src="/template/import/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/template/import/jquery-ui"></script>
<link href="/template/import/bootstrap-combined.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/template/import/bootstrap.min.js"></script>
<title>Document</title>
<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
<!--[if lt IE 9]>
<script src="/template/import/html5shiv.js"></script>
<script src="/template/import/respond.min.js"></script>
<![endif]-->